**
!package.json
!README.md
!INSTALL_EDITOR_HIGHLIGHT.md
!language-configuration.json
!assets/**
!assets/icons/**
!assets/icons/vpp-file.svg
!assets/icons/vpp-file.png
!syntaxes/**
!syntaxes/vpp.tmLanguage.json
